body{
    margin: 0;
    background-color: #3A4750;
    color: #EEEEEE;
}

ul{
    list-style: none;
    display: inline;
    padding: 0;
}

h1,h2{
    color: #EA9215;
    font-size: 3rem;
}

h3{
    margin-top: 1rem;
}



.header{
    padding: 2rem 0;
    background-color: #303841;
    border-top: 1rem solid #EA9215;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.profile-picture{
    display: flexbox;
    padding: 0 2rem;
}

.profile-picture > img{
    padding-top: 1rem;
    border-radius: 100%;
}

.information{
    display: flexbox;
}

.information > ul > li{
    display: inline;
    
}

.information > h1{
    margin-bottom: 0;
}

.information > h3{
    margin:0;
}

.information > ul > li > a > i{
    color: #EA9215;
    font-size: 2rem;
    margin: 3px;
}



.main{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    height: 1000px;
}

.mainLeft{
    display: block;
    width: 70%;
}

.mainRight{
    display: block;
    width: 30%;
}

.card
{
    background-color: #303841;
    border-radius: 1rem;
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem;
}
.content{
    margin: 1rem;
}

.content > center > a > img{
    border: #EA9215 0.5rem solid;
    border-radius: 1rem;
    max-width:99%;
}

td{
    font-size: 2rem;
    padding-right: 1rem;
}

.stars{
    color: #EA9215;
    font-size: 2.5rem;
}
